extends layout

block content
  div.background
      h1 Twitter Reputation Analyzer
      input(type="text", placeholder="checkr")#twitter_input
      button(type="button")#submit_button.btn.btn-primary submit 