doctype html
html
  head
    title= title
    //stylesheet
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    //scripts
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='/javascripts/script.js')
  body
    block content